html {
  font-family: Georgia;
  color: #fff;
}

img {
  max-height: 500px;
}

.blue {
  background-color: #495562;
}

.btn {
  color: #fff;
}

.btn-ghost {
  border-color: #97a49b;
}

.btn:hover {
  color: #000;
  background-color: #efefef;
}

.btn-ghost:hover {
  border-color: #efefef;
}
